<span class="header__endpoint">
    <i class="material-icons header__icon">book</i>
    <a class="header__user" href="https://github.com/Namysh" target="_blank">{{user}}</a>
    /
    <a class="header__repo" href="#">{{repository}}</a>
  </span>

  <span class="header__button">
    <a
      class="github-button"
      href="https://github.com/Namysh/reposiblog"
      data-icon="octicon-star"
      data-size="large"
      data-show-count="true"
      aria-label="Star Namysh/reposiblog on GitHub"
      >Star</a
    >
  </span>