<div class="main__header">
    <h2 style="font-size: 14px;font-weight: 600;">
        <i class="material-icons main__icon">description</i>
        stage1.html
    </h2>
    <span></span>
</div>
<div class="main__content">
    <h1>Eixa6 Informatique</h1>
    <p>Lors de ma formation de BTS SIO (Services informatiques aux organisations) ; étant en première année ; je dois effectuer un stage d'une durée de 6 semaines dans une entreprise qui est suceptible d'être intéressante dans le cadre de mon option choisie dans le BTS. Etant en option SLAM (Solutions Logicielles et Applications Métier) j'ai donc essayé de trouver une entreprise orientée dans le développement de solutions applicatives . Après plusieurs recherches sans réel succès, on m'a recommandé l'entreprise Eixa6.</p>

</div>
