<div class="main__header">
  <h2 style="font-size: 14px; font-weight: 600;">
    <i class="material-icons main__icon">description</i>
    veille1.html
  </h2>
  <span></span>
</div>
<div class="main__content">
  <h1>Les intelligences artificielles dans le monde profesionnel</h1>
  <b
    >Article : CV disséqué, entretien vidéo, émotions scrutées... comment
    l'intelligence artificielle nous recrute</b
  >
  <p>
    De nos jours les algorithmes ont de plus en plus leur mot à dire dans le
    processus de recrutement. En effet les algorithmes interviennent du début à
    la fin du processus de recrutement. En effet les personnes à la recherche
    d'emploi déposent leur CV sur un site et un algorithme les redirigent vers
    des recruteurs, en tenant compte de leur expériences et compétences. Et pour
    la suite, lors de l'entretien vidéo, les algorithmes analysent les
    expressions faciales des personnes qui parlent.
  </p>
  <b
    >Article : L'intelligence artificielle menace tous les métiers, mais pas au
    même moment.
  </b>
  <p>
    L'intelligence artificielle, au fur et à mesure qu'elle se développe, menace
    de plus en plus de métiers. Néanmoins, d'un point de vue différent, on peut
    aussi dire qu'elle va permettre d'aider des emplois. Pour autant, on peut
    prédire qu'a peu près 50% des emplois pourront être remplacés par
    l'intelligence artificielle, dans le futur.
  </p>
</div>
