<div class="main__header">
    <h2 style="font-size: 14px;font-weight: 600;">
        <i class="material-icons main__icon">description</i>
        veille2.html
    </h2>
    <span></span>
</div>
<div class="main__content">
    <h1>Le DevOps</h1>
   
    <b>Article : Les clés pour une automatisation DevOps réussie</b>
    <p>Tout d'abord définissons le DevOps. Concrêtement, le DevOps, c'est une pratique technique qui vise à unifier la partie développement et la partie système dans une application. Cela se traduit par exemple par des tests constants lors du développement (CI/CD), des tests constantes de l'application sur différents supports lors du développement etc.</p>

    <b>Article : DevOps : 5 petits et grands changements pour 2020</b>
    <ol>
        <li>1 : Baisse de la fréquence des déploiements</li>
        <li>2 : Mesure de la valeur pour les métiers</li>
        <li>3 : Ingénierie du chaos et stratégie</li>
        <li>4 : Apprentissage continu et embarqué</li>
        <li>5 : De la finance à l'infodivertissement</li>
    </ol>
</div>
