<div class="main__header">
  <h2 style="font-size: 14px; font-weight: 600;">
    <i class="material-icons main__icon">description</i>
    ppe3.html
  </h2>
  <span></span>
</div>
<div class="main__content">
  <h1>Introduction</h1>
  <p>
    Le but de ce PPE a été de réaliser une application permettant aux élèves,
    lors de la semaine de l'orientation, de pouvoir découvrir divers métiers à
    travers une application ludique et intéractive. Nous étions 4 développeurs
    pour faire ce projet : moi-même, Rudy, Adrien et Florian. Le projet a été
    mené en collaboration avec les BTS COM, nous avions pour contrainte
    d'utiliser la méthodologie SCRUM, ainsi, le rôle de product owner était
    attribué aux BTS COM. Le point le plus important lors de la réalisation du
    projet était la gestion du temps. En effet nous avions 1 mois pour le finir
    et pouvoir le présenter lors de la semaine de l'orientation. Nous avons donc
    du nous organiser en conséquent, communiquer avec les BTS COM le plus
    souvent possible pour ne pas partir dans une mauvaise direction et tester
    l'application au fur et à mesure qu'elle se développait.
  </p>
  <h1>Recul</h1>
  <p>
    Un point sensible que j'ai pu remarquer pendant ce projet, c'est
    l'organisation en équipe. En effet, les niveaux et la motivation étant
    hétérogènes, il était difficile d'attribuer des tâches à chacun. Néanmoins
    nous nous en sommes bien sorti en divisant le groupe en 2, une partie gérant
    l'affichage du questionnaire et l'autre gérant la partie administrateur.
    Ainsi nous avons pu finaliser l'application à temps et lorsque les
    utilisateurs ciblés l'ont utilisés, tout s'est bien passé. Lors de ce
    projet, j'ai appris à m'adapter aux clients en analysant leur feedback et en
    améliorant l'application en conséquent. J'ai aussi affiné mes compétences en
    JavaScript ainsi qu'avec la structure MVC. De plus, j'ai découvert la
    méthode agile SCRUM, et même si elle n'a pas était utilisé à son plein
    potentiel, car manque de temps, je pense qu'elle peut se retrouver très
    efficace sur les plus gros projets avec plus de développeurs et plus de
    temps.
  </p>
  <h1>Liens utiles</h1>
  <p><a href="http://btssio17.com/gestavenir/">Application </a></p>
  <p>
    <a href="http://willytardy.com/assets/files/doc_bdd.pdf"
      >Documentation de la base de données</a
    >
  </p>
  <p>
    <a href="http://willytardy.com/assets/files/doc_application.pdf"
      >Documentation de l'application</a
    >
  </p>
  <p>
    <a href="http://willytardy.com/assets/files/doc_technique.pdf"
      >Documentation technique</a
    >
  </p>
  <p>
    <a href="http://willytardy.com/assets/files/doc_javascript.pdf"
      >Documentation JavaScript</a
    >
  </p>
</div>
