<div class="main__header">
    <h2 class="main__header__title">
        <i class="material-icons main__icon">description</i>
        README.md
    </h2>
    <span></span>
</div>
<div class="main__content">
    <h1>Willy Tardy</h1>
    <p>Bienvenue sur mon blog inspiré par <a href="https://github.com/Namysh" target="_blank">Github</a> !</p>
    <p>Vous pourrez retrouver mes veilles technologiques, mes différents stages ainsi que les différents projets que j'ai réalisé au cours de mon BTS SIO.</p>
    <p>Le blog est généré grâce à un fichier de configuration JSON qui vous pouvez retrouver <a href="config.json" target="_blank">ici</a></p>
</div>
